@model ProductListViewModel
 
  <section class="pt-3 slider main_list">
      <div class="container">
        <div class="row p-lg-2 p-1">
         <aside  class="d-none d-lg-block col-lg-3">
           <nav style="position: sticky; top: 5px; z-index: 1;" class="nav nav-pills nav_cat flex-column flex-nowrap overflow-auto slider__nav">
             <a asp-controller="Home" asp-action="List" class="nav-link nav_color">Tüm Kategoriler</a>
                @foreach(var ctg in Model.Categories)
                {
                  <a asp-controller="Home" asp-action="List" asp-route-id="@ctg.CategoryId" class="nav-link ">@ctg.Name</a>
                }
           </nav>

          </aside>
       
          <div class="col-lg-9">

           <div class="d-flex  justify-content-end mb-3">
          <a asp-controller="Home" asp-action="AddProduct" class="btn btn-warning btn-lg">
            <i class="fa fa-plus-circle me-2"></i> Yeni Ürün Oluştur
          </a>
        </div>
      
      @foreach(var user in Model.Products)
      {
             <div class="card mb-3 shadow">
              <div class="row g-0">
                <div class="col-xl-3 col-md-4">
                  <a href="/home/details/@user.PostId" class="img-wrap">
                    <img src="~/img/@user.Image" alt="" />
                  </a>
                </div>
                <div class="col-xl-9 col-md-8 border-start">
                  <div class="card-body">
                    <a href="/home/details/@user.PostId" class="h6 mb-3 title">
                      @user.Title @user.Description
                    </a>
                    <div class="mb-2">
                      <div class="rating mb-2">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="text-warning ms-1">5.0</span>
                      </div>
                     <span class="text-muted">
                      @(@user.IsActive ? "Stokta" : "Stokta Değil")
                      </span>
                      <span class="text-success">Ücretsiz Kargo</span>
                    </div>

                    <div class="price-wrap mb-4">
                      <strong class="price">@user.Price TL</strong>
                    </div>

                    <div class="d-grid ga-2 d-md-block">
                      <form asp-page="/Cart" method="post">
                      <input name="PostId" type="hidden" asp-for="@user.PostId">
                      <button class="btn btn-warning"><i class="fa fa-shopping-cart me-1"></i>Sepete Ekle</button>
                      </form>
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
      }

           
          </div>
        </div>
      </div>
    </section>

    
<nav>
    <ul class="pagination justify-content-center">
        @if (Model.PageInfo.CurrentPage > 1)
        {
            <li class="page-item">
                <a class="page-link text-warning border-warning" href="@Url.Action("List", new { page = Model.PageInfo.CurrentPage - 1, search = ViewBag.Search, id = ViewBag.CategoryId })">Önceki</a>
            </li>
        }
        
        @for (var i = 1; i <= Model.PageInfo.TotalPages; i++)
        {
            <li class="page-item @(i == Model.PageInfo.CurrentPage ? "active" : "")">
                <a class="page-link @(i == Model.PageInfo.CurrentPage ? "text-white bg-warning border-warning" : "text-warning border-warning")" href="@Url.Action("List", new { page = i, search = ViewBag.Search, id = ViewBag.CategoryId })">@i</a>
            </li>
        }
        
        @if (Model.PageInfo.CurrentPage < Model.PageInfo.TotalPages)
        {
            <li class="page-item">
                <a class="page-link text-warning border-warning" href="@Url.Action("List", new { page = Model.PageInfo.CurrentPage + 1, search = ViewBag.Search, id = ViewBag.CategoryId })">Sonraki</a>
            </li>
        }
    </ul>
</nav>




@section search {
    <form asp-controller="Home" asp-action="List" method="post" class="form-inline my-2 my-lg-0">
        <input
            name="search"
            class="form-control mr-sm-2"
            type="search"
            placeholder="Anahtar Kelime"
            aria-label="Ara"
        />
        <button class="btn btn-warning my-2 my-sm-0" type="submit">
            <i class="fas fa-search"></i>
        </button>
    </form>
}